<?xml version="1.0"?>
<ruleset name="zotapay">
    <description>Zotapay PHP SDK coding standards.</description>

    <file>.</file>
    <arg name="extensions" value="php"/>
    <arg name="ignore" value="*/vendor/*"/>
    <arg name="encoding" value="utf-8"/>
    <arg name="colors"/>
    <arg value="s"/>

    <config name="ignore_warnings_on_exit" value="1"/>

    <exclude-pattern>*/examples/*</exclude-pattern>

    <rule ref="PSR1" />
    <rule ref="PSR2" />
    <rule ref="PSR12" />

    <rule ref="PSR12.Classes.ClassInstantiation.MissingParentheses">
        <exclude name="PSR12.Classes.ClassInstantiation.MissingParentheses"/>
    </rule>

    <rule ref="Generic.Files.LineLength">
        <exclude name="Generic.Files.LineLength"/>
    </rule>
</ruleset>
